fastapi[standard]
uvicorn
psycopg2
asyncpg
sqlalchemy
dotenv
python-jose[cryptography]
pwdlib[argon2]
pyjwt 
redis
pulp
alembic
pytest
slowapi
celery
suntime
seaborn
matplotlib
prometheus-fastapi-instrumentator